:root {
  --background-color: #101011;
  --primary-text-color: #787878;
  --secundary-text-color: #b4b4b4;
  --thert-text-color: #8490FF;
  --card-background-color-1: #1f1e1e;
  --card-background-color-2: #393333;
  --border-radius: .5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color:#fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
